
<html>
<head>
    <title>Administrator</title>
    <style>
        @@media (max-width: 1024px) {
            body {
                background-color: yellowgreen;
            }
        }
         table {
             border-collapse: collapse;
         }

        table, th, td {
            border: 1px solid black;
            padding: 14px;
        }

        td {
            max-width: 400px;
        }

        tbody tr td:first-child {
            font-weight: bold;
        }

        tbody tr td span {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Base Url moshavit.somee.com</h1>
    <h2>API</h2>
    <h3>Because the host is free for now we are limited with the data base space storage
so it possibly some data erase</h3>
    <table>
        <thead>
            <tr>
                <td>URL</td>
                <td>Service</td>
                <td>Method</td>
                <td>expected Data</td>
                <td>Response</td>
                <td>Comments</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/api/register</td>
                <td>Registretion</td>
                <td>POST</td>
                <td>
                    {<br />
                    "FirstName" : "first name",<span>*</span><br />
                    "LastName" : "family name",<span>*</span><br />
                    "Phone" : "00000",<span>*</span><br />
                    "Password": "1234",<span>*</span><br />
                    "Email" : "name@domain.com",<span>*</span><br />
                    "Address" : "address"
                    }<br/>
                    <br/>
                    <span>* mandatory</span>
                </td>
                <td> http response code 200 </td>
                <td><ul>
                        <li>
                            The Email is unique in data base if you try to register with the same email you will get error message  
                        </li>
                        <li>
                            There is no validation on this point (will be add later)
                        </li>
                    </ul>
                    
                </td>
            </tr>
            
            <tr>
                <td>/api/login</td>
                <td>login to the system</td>
                <td>POST</td>
                <td>
                    {<br />
                    "Password": "1234",<br />
                    "Email" : "name@domain.com"<br />
                    }
                </td>
                <td> http response code 200<br/>
                    {<br/>
                    "IdUser": 1,<br />
                    "FirstName": "username",<br />
                    "LastName": "family name",<br />
                    "Email": "name@domain.com",<br />
                    "Phone": "00000",<br />
                    "Address": ""<br />
                    }
                
                </td>
                <td><span>error message</span>
                    { "Message": "User don't exist" }
                </td>
            </tr>
            
            <tr>
                <td>/api/BabySitter</td>
                <td>add message</td>
                <td>POST</td>
                <td>
                    {<br/>
                    IdUser: 1,<br />
                    Title: "title",<br />
                    Content: "content",<br />
                    Rate: 1.0,<br />
                    StartTime: "yyyy-mm-dd hh:MM:ss",<br />
                    EndTime:  "yyyy-mm-dd hh:MM:ss"<br />
                    }

                </td>
                <td>
                    http response code 200<br />
                </td>
                <td>
                </td>
            </tr>

            <tr>
                <td>/api/BabySitter</td>
                <td>get all babySitter messages</td>
                <td>GET</td>
                <td>

                    

                </td>
                <td>
                    http response 200<br />

                    [<br/>
                    {<br />
                    "IdMessage": 1,<br />
                    "IdUser": 1,<br />
                    "Title": "babay sitter",<br />
                    "Content": "need baby siter",<br />
                    "Rate": 30,<br />
                    "StarTime": "2014-09-12T18:00:00",<br />
                    "EndTime": "2014-09-12T18:00:00",<br />
                    "Name": "bob choen",<br />
                    "Phone": "11111111"<br />
                    },{<br />
                    "IdMessage": 1,<br />
                    "IdUser": 1,<br />
                    "Title": "babay sitter",<br />
                    "Content": "need baby siter",<br />
                    "Rate": 30,<br />
                    "StarTime": "2014-09-12T18:00:00",<br />
                    "EndTime": "2014-09-12T18:00:00",<br />
                    "Name": "bob choen",<br />
                    "Phone": "11111111"<br />
                    }
                    <br/>
                    ]
                </td>
                <td></td>
            </tr>

            <tr>
                <td>/api/BabySitter/{ID}</td>
                <td>get single message</td>
                <td>GET</td>
                <td>
                    
                    message Id

                </td>
                <td>
                    http response 200<br />

                    {<br />
                    "IdMessage": 1,<br />
                    "IdUser": 1,<br />
                    "Title": "babay sitter",<br />
                    "Content": "need baby siter",<br />
                    "Rate": 30,<br />
                    "StarTime": "2014-09-12T18:00:00",<br />
                    "EndTime": "2014-09-12T18:00:00",<br />
                    "Name": "bob choen",<br />
                    "Phone": "11111111"<br />
                    }
                </td>
                <td></td>
            </tr>
            
            <tr>
                <td>/api/BabySitter</td>
                <td>Update message</td>
                <td>PUT</td>
                <td>
                    {<br />
                    "IdMessage": 1,<br />
                    "IdUser": 1,<br />
                    "Title": "babay sitter",<br />
                    "Content": "need baby siter",<br />
                    "Rate": 30,<br />
                    "StarTime": "2014-09-12T18:00:00",<br />
                    "EndTime": "2014-09-12T18:00:00",<br />
                    }

                </td>
                <td>
                    http response 200<br />

                    
                   
                </td>
                <td></td>
            </tr>

        </tbody>
    </table>
</body>
</html>