@using System.Web.Optimization
<html>
<head>
    <title>Administrator</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Assets/Style")
    <script>
        // Must be first. IE10 mobile viewport fix
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

</head>
<body>
    <div id="applicationHost">
    </div>
    @Scripts.Render("~/scripts/vendor")
    <script type="text/javascript" src="../../Scripts/require.js" data-main="/App/main"></script>
</body>
</html>